@model IEnumerable<ASPProjectFrontend.Models.Order>

@{
    ViewData["Title"] = "All Orders";
}

<h1>All orders</h1>

<table class="table alt-bg-color text-color-purple">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalOrderPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalOrderPrice)
            </td>
            <td>
                <form asp-action="GetSpecificOrder" method="get">
                    <input type="hidden" name="orderId" value="@item.OrderId" />
                    <button type="submit" class="btn accent-blue cart-button">Details</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
