@model Game

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Update Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-color-purple"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>                
                <input asp-for="Name" value="@Model.Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" value="@Model.Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDescription" class="control-label"></label>
                <input asp-for="ShortDescription" value="@Model.ShortDescription" class="form-control" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InitialPrice" class="control-label"></label>
                <input asp-for="InitialPrice" value="@Model.InitialPrice" class="form-control" />
                <span asp-validation-for="InitialPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountPercent" class="control-label"></label>
                <input asp-for="DiscountPercent" value="@Model.DiscountPercent" class="form-control" />
                <span asp-validation-for="DiscountPercent" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <input type="hidden" asp-for="SteamAppId" value="@Model.SteamAppId" />
            <input type="hidden" asp-for="AboutTheGame" value="@Model.AboutTheGame" />
            <input type="hidden" asp-for="HeaderImage" value="@Model.HeaderImage" />
            <input type="hidden" asp-for="Website" value="@Model.Website" />
            <input type="hidden" asp-for="Developers" value="@Model.Developers" />
            <input type="hidden" asp-for="Publishers" value="@Model.Publishers" />
            <input type="hidden" asp-for="Genres" value="@Model.Genres" />
            <input type="hidden" asp-for="Screenshots" value="@Model.Screenshots" />
            <input type="hidden" asp-for="MetacriticScore" value="@Model.MetacriticScore" />
            <input type="hidden" asp-for="ReleaseDate" value="@Model.ReleaseDate" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to Store</a>
</div>
