@* @model ShoppingCart *@

@{
    ViewData["Title"] = "ShoppingCart";
    var shoppingCart = ViewBag.ShoppingCart as ShoppingCart;
}

<h1>ShoppingCart</h1>

<table class="table">
	<thead>
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Price</th>
		<th>Actions</th>
	</tr>
	</thead>
	<tbody>
	@if (shoppingCart == null || shoppingCart.Products.Count == 0)
	{
		<p>Cart empty</p>
	}
	else
	{
		@foreach (var item in shoppingCart.Products)
		{
			<tr>
				<td>@item.Name</td>
				<td>@item.ShortDescription</td>
				<td>Price: @(Math.Round(((float)item.InitialPrice * item.DiscountPercent), 2)) €</td>
			<td >
			    @* <a class="btn btn-primary btn-sm align-content-center" style="width: 100%; margin: 2px 0px 2px 0px;" asp-action="Details" asp-route-id="@item.Id">Details</a> *@
			    <a class="btn btn-primary btn-sm align-content-center" style="width: 100%; margin: 2px 0px 2px 0px;" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
			</td>
			</tr>
		}	
	}
	</tbody>
</table>